.signuparea{
    display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  padding-top: 5%;
  #page-LogIn-form{
      width:79vw;
  }
  .main{
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-right: 20%;
    
  }
}